body {
    font-family: sans-serif;
}

header {
    margin: 15px 0;
}

main {
    margin: auto;
    max-width: 1024px;
}

h1 {
    margin: 0 0 8px 0;
}

.logo {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 24px;
    text-decoration: none;
    color: palevioletred;
    background: lightcyan;
}

.overlap {
    position: fixed;
}

p {
    color: white;
    font-size: 75px;
}

#score1 {
    margin: 0 343px;
}

#score2 {
    margin: 0 415px;
}
